<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>Get the stations list</p>
<a href="/stations">Stations</a>
<p>Get the selected station temperature by list</p>
<p>URL format: http://127.0.0.1:5000/api/v1/stations/{station}/{date}</p>
<p>use station number from stations list</p>
<p>yyyymmdd</p>
<p>To get all dates on station</p>
<p>http://127.0.0.1:5000/stations/{station_id}</p>

<h1>Dictionary API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/dictionary/{search word}</p>
<p>use 'sun' or 'pillow' for test</p>

</body>
</html>